@page "/"
@using AntDesign
@using BombasKitchen.Data.Middleware
@inject ProductsProcessor _productsProcessor

<h1>Bombas Kitchen</h1>

<Button Type="@ButtonType.Primary" OnClick="test">Test</Button>

@code
{
    public void test() => _productsProcessor.GetAllProducts();
}
